

# All packages
/packages/eslint-config-spinacia-app
/packages/spinacia-react-redux
/packages/spinacia-script
/packages/spinacia-test
/packages/babel-preset-spinacia-app
/packages/spinacia-utils


# config
package-lock.json
records.json
yarn-error.log

